* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

body {
    background: url("./Resource/pfbg.png");
}

#upbtn {
    display: block;
    position: fixed;
    z-index: 2;
    bottom:30px;
    right: 30px;

}
#upbtn button{
    color: red;
}

#imgbg {
    box-shadow: 0 0 5px white, 0 0 25px white;
}
#txt{
    background-image: linear-gradient(to right ,blue, rgba(0, 154, 254, 255));
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
#grdntxt{
    color:rgba(0, 154, 254, 255);
}

.bnt:hover {
    /* color:white ; */
    color: rgb(12, 24, 38, 255);
    background-color: white;
    box-shadow: 0 0 5px white, 0 0 25px white;
}
.javaclr{
    background-image: linear-gradient(to top ,blue,orange);
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
.pup {
    margin-top: -5px;
}
/* for progression bar */
#pbclr{
background:linear-gradient(to right, blue, rgba(0, 154, 254, 255) );
}

/* for circle-progressbar */
#bgclr {
    width: 100px;
    height: 100px;
    background: conic-gradient(blue, rgba(0, 154, 254, 255) 300deg, black 0deg);
}

#bbgclr {
    width: 90%;
    height: 90%;
    background-color: rgb(12, 24, 38, 255);
}
 
/* cards */
/* #crd:hover #crdbdy{
    display: block;
} */
